/* src/components/Upload.css */

.upload-container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.upload-container h2 {
  margin-bottom: 20px;
}

.upload-container input[type='file'] {
  display: block;
  margin-bottom: 15px;
}

.upload-container label {
  display: block;
  margin: 10px 0;
}

.upload-container button {
  background-color: #5cb85c;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 4px;
}

.upload-container button:hover {
  background-color: #4cae4c;
}
.upload-container span {
  color: #ff0000;
}
